.goods-category {}
.goods-category .item-wrap{ width: 100%; line-height: 20px; font-size: 14px; text-align: center; margin-bottom: 8px;}
.goods-category .parent{ margin-bottom: 8px;}
.goods-category .children{ margin-left: 30px;}
.goods-category .item-wrap .open-identification{ display: block; width: 30px; background: #eee; margin-right: 8px;}