.nav{ padding-top: 10px; background: #eee;}
.nav .content-wrap{ line-height: 30px; font-size: 14px; overflow: hidden;}
.nav .first-level{ padding-left: 10px;}
.nav .child-item{ padding-left: 20px; color: #666;}
.nav .child-item.active{ background: #ddd;}